.header {
    background-color: #424242;
}
.header h1 {
    color: white;
}

.jumbotron {
    background-image: url("http://i.imgur.com/Iz9f7qo.png");
    height: 500px;
}
.jumbotron h2 {
    color:white;
}
.jumbotron p {
    color:white;
}

.about {
    background-color: #424242;
}

.examples {
    background-color: #585858;
}