.notes {
    border-radius: 4px;
    padding: 9px;
    background-color: #f7f7f9;
    border: 1px solid #B0B0B0;
}

.notes li {
    border-radius: 4px;
    padding: 9px;
    border: 1px solid #C9C9C9;
}