body {
    background-image: url("programming.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 2px 2px 8px #787878;
}

body {
    color: white;
}

a {
    color: #E4E4E4;
}