body {
    background-image: url("programming.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 2px 2px 8px #787878;
}

.intro {
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    background-color: #E4E4E4;
}

.notes {
    color: white;
}

.notes a {
    color: #E4E4E4;
}